version: '3.8'

services:
  nextjs-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs-frontend
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped